<div class='container'>
  <h3 class='board_info'>BOARD NAME</h3>
  <h4 class='board_info'>EVENT DATE</h4>
  <p class='board_info'><a href="#">payouts</a></p>
  <p class='board_info'><a href="#">rules and regs</a></p>
  <div class='board'>
    <div class="row home_row">
      <div class="col s1 corner">text</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
      <div class="col s1 home_num">#</div>
    </div>
    <div class="row one">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">1</div>
      <div class="col s1 square">2</div>
      <div class="col s1 square">3</div>
      <div class="col s1 square">4</div>
      <div class="col s1 square">5</div>
      <div class="col s1 square">6</div>
      <div class="col s1 square">7</div>
      <div class="col s1 square">8</div>
      <div class="col s1 square">9</div>
      <div class="col s1 square">10</div>
    </div>
    <div class="row two">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">11</div>
      <div class="col s1 square">12</div>
      <div class="col s1 square">13</div>
      <div class="col s1 square">14</div>
      <div class="col s1 square">15</div>
      <div class="col s1 square">16</div>
      <div class="col s1 square">17</div>
      <div class="col s1 square">18</div>
      <div class="col s1 square">19</div>
      <div class="col s1 square">20</div>
    </div>
    <div class="row three">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">21</div>
      <div class="col s1 square">22</div>
      <div class="col s1 square">23</div>
      <div class="col s1 square">24</div>
      <div class="col s1 square">25</div>
      <div class="col s1 square">26</div>
      <div class="col s1 square">27</div>
      <div class="col s1 square">28</div>
      <div class="col s1 square">29</div>
      <div class="col s1 square">30</div>
    </div>
    <div class="row four">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">31</div>
      <div class="col s1 square">32</div>
      <div class="col s1 square">33</div>
      <div class="col s1 square">34</div>
      <div class="col s1 square">35</div>
      <div class="col s1 square">36</div>
      <div class="col s1 square">37</div>
      <div class="col s1 square">38</div>
      <div class="col s1 square">39</div>
      <div class="col s1 square">40</div>
    </div>
    <div class="row fiv4">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">41</div>
      <div class="col s1 square">42</div>
      <div class="col s1 square">43</div>
      <div class="col s1 square">44</div>
      <div class="col s1 square">45</div>
      <div class="col s1 square">46</div>
      <div class="col s1 square">47</div>
      <div class="col s1 square">48</div>
      <div class="col s1 square">49</div>
      <div class="col s1 square">50</div>
    </div>
    <div class="row six">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">51</div>
      <div class="col s1 square">52</div>
      <div class="col s1 square">53</div>
      <div class="col s1 square">54</div>
      <div class="col s1 square">55</div>
      <div class="col s1 square">56</div>
      <div class="col s1 square">57</div>
      <div class="col s1 square">58</div>
      <div class="col s1 square">59</div>
      <div class="col s1 square">60</div>
    </div>
    <div class="row seven">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">61</div>
      <div class="col s1 square">62</div>
      <div class="col s1 square">63</div>
      <div class="col s1 square">64</div>
      <div class="col s1 square">65</div>
      <div class="col s1 square">66</div>
      <div class="col s1 square">67</div>
      <div class="col s1 square">68</div>
      <div class="col s1 square">69</div>
      <div class="col s1 square">70</div>
    </div>
    <div class="row eight">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">71</div>
      <div class="col s1 square">72</div>
      <div class="col s1 square">73</div>
      <div class="col s1 square">74</div>
      <div class="col s1 square">75</div>
      <div class="col s1 square">76</div>
      <div class="col s1 square">77</div>
      <div class="col s1 square">78</div>
      <div class="col s1 square">79</div>
      <div class="col s1 square">80</div>
    </div>
    <div class="row nine">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">81</div>
      <div class="col s1 square">82</div>
      <div class="col s1 square">83</div>
      <div class="col s1 square">84</div>
      <div class="col s1 square">85</div>
      <div class="col s1 square">86</div>
      <div class="col s1 square">87</div>
      <div class="col s1 square">88</div>
      <div class="col s1 square">89</div>
      <div class="col s1 square">90</div>
    </div>
    <div class="row ten">
      <div class="col s1 away_num">#</div>
      <div class="col s1 square">91</div>
      <div class="col s1 square">92</div>
      <div class="col s1 square">93</div>
      <div class="col s1 square">94</div>
      <div class="col s1 square">95</div>
      <div class="col s1 square">96</div>
      <div class="col s1 square">97</div>
      <div class="col s1 square">98</div>
      <div class="col s1 square">99</div>
      <div class="col s1 square">100</div>
    </div>
  </div>
</div>
