<h2>Contest List</h2> 
<!-- <iframe src="http://www.sportznetwork.com/scores/index.htm" name="ticker" scrolling="no" frameborder="no"  height = "750px" width = "200px">
</iframe>
<script language="JavaScript" src="http://www.sportznetwork.com/rss/rss2js.php?src=http://sportznetwork.com/rss/news.xml&rss_items=15&rss_chars=950"></script> -->
<% @contests.each do |contest| %>
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">  
        <%= contest.event_name %>
<i class="material-icons right">more_vert</i></span>
      <p><a href="#"> <%= contest.sport %>
</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= contest.event_name %><i class="material-icons right">close</i></span>
      <p>  <%= contest.event_date %>
</p>
    </div>
  </div>

  
<% end %>