
      <form>
        <div class="input-field ">
          <input id="search" type="search" class="" placeholder="Not working yet" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i>
    	</label>
        </div>
		
		<div>	
        <select class='browser-default right-align right  search-select'>
	      <option value="" disabled selected>Search By</option>
	      <option value="1">Team</option>
	      <option value="2">Sport</option>
	      <option value="3">Date</option>
    	</select>
		</div>
          <div class="input-field">
  			</div>
      </form>

<h2 class='contest-list'>Contest List</h2>
<% @contests.sort {|a,b| b.event_date <=> a.event_date}.each do |contest| %>
  <div class ="contest-card" contest_id="<%= contest.id %>">
    <h4 ><%= link_to contest.event_name, contest_path(contest), class:"event_index"%> </h4>
    	<ul>
    		<li><h5>Starts: <%= contest.event_date.utc.strftime("%b %e, %l:%M %p")%></h5>
    		</li>
			<li><h5><%= contest.available_nums.length %> squares available</h5></li>
    	</ul>
  </div>

<% end %>