<h1>User Dashboard</h1>

<h4><%= link_to "Edit Profile", edit_user_registration_path, class: "waves-effect waves-light btn-large"%></h4>



	<h3>Last 5 Squares</h3>
	<% recent.each do |cell| %>

	<ul>
		<h4>
			

		<li><%= link_to Contest.find(cell.contest_id).event_name, contest_path(cell.contest_id) %>
			<ul class="browser-default" ><li recent_item>Cell Position - <%= cell.position[0] %></li></ul>
		</li>
		</h4>
	</ul>

		
	<% end %>

