.board {
  /*padding-left: 40px;*/
  line-height: 1;
}

/*body {
   background: image-url('stylesheets/checkerbacks.png');

}*/

* {
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 20px;
  background-image: url('light_tones.png');
  /*background-position: cover;*/
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    /*font-size: 1.5em;*/
}
/*@font-face {
  font-family: 'squarey';
  src:url('fonts/squarey.ttf');
  src:url('fonts/squarey.eot?#iefix') format("embedded-opentype"),
}

  @font-face {
  font-family: 'sometimelater';
  src: url('fonts/sometimelater.otf');
  src:url('fonts/sometimelater.eot?#iefix') format("embedded-opentype")
}
@font-face {
  font-family: 'curiousincident';
  src:url('fonts/curiousincident.ttf');
  src:url('fonts/curiousincident.eot?#iefix') format("embedded-opentype")
}
@font-face {
  font-family: 'famrids';
  src:url('fonts/famrids.ttf');
  src:url('fonts/famrids.eot?#iefix') format("embedded-opentype")
}*/

form .col {
  border: 1px solid black;
  /*padding: 20px !important;*/
  text-align: center;
}

.row {
  margin-top: -20px !important;
}

.home_row {
  margin-top: 20px !important;
  margin-left: 100px !important;
  font-size: 2em;
  
}

.square:hover {
  opacity: 0.3;
}

.board_info {
  text-align: center;
}

.away_num { 
  height: 75px;
}

.away_num, .home_num {
  /*margin-top: 10px;*/
  color: black;
  font-size: 2em;
  /*height: 20px;*/
}

.corner {
  /*background: /*black*/
visibility: hidden;
}

.board_display {
  zoom: 60%;
}

.square {
  background-color: white;
}

.square label {
  /*opacity: 0;*/
}

.enabled {
  background-color: green;
  border: 2px solid white;
}

.disabled {
  border: 2px solid white;
  background-color: black;
}

#display_board {
  display: squarey;
  width: 50%;
  color: white;
  border-radius: 10px;
  margin: auto;
  height: 80px;
  font-size: 2em;
  background-color: red;
}

.claim-btn {
  /*display: block;*/
  width: 48%;
  color: black;
  border-radius: 10px;
  border: solid 4px;
  margin: 0%x 20%;
  /*height: 100px;*/
  font-size: 3em;
  font-weight: bold;
  background-color: red;
  text-align: center;
  /*font-family: sq;*/


}

#heading {
  font-family: squarey;
  color: white;
}

.random_buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /*margin: 0px 20px;*/
  right:4%;
  position: relative;
}

#claim-selected {
  background-color: red;
  color: black;
  width: 71% ;
  /*border-radius: 10px;*/
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  border: solid 4px;
  height: 100px;
  /*left: 30%;*/
  position: absolute;
  right: 17%;


}



div.square {
  margin: 0px;
  width: 80px;
  /*border-radius: 8px;*/
  top: 10px;
  position: relative;
  height: 120px;
}

div.closed_cells {
  /*margin: 02px;*/
  width: 70px;
  /*border-radius: 14px;*/
  top: 10px;
  position: relative;
  height: 80px;
}

.home-away {
  display: flex;
  justify-content: space-between;

}

.home-team, .away-team {
  padding: 5px !important;
  width: 30% !important;
  margin: 40px !important;
}

.vertical-text {
  transform: rotate(270deg) !important;
  /*transform-origin: left top 30;*/
  float: left;
  position: absolute;
  left: -400px;
  top: 85%;
  font-size: 8em ;
  height: 250px;
  width: 1200px;
  text-align: center;
  letter-spacing: 0.5em;
}

.home-team-row {
  text-align: center;
  font-size: 8em;
  letter-spacing: 0.5em;
  border: none;

}

#num_pool {
  visibility: hidden;
}

td, tr, th {
  border: solid 3px !important;
  text-align: center !important;
  font-size: 1.5em;
}

body {
  color: black !important;
}

.edit-contest {
  float: right;
}

.box_score_item {
  font-size: 1.5em !important;
  text-decoration: none !important;
  text-align: center;
}

.legend {
  float: right;
  height: 200px;
  width: 400px;
  right: 3%;
  top: 800px;
  position: absolute;
  /*border: solid 6px;*/
  border-radius: 4px;
  padding: 8px;
  text-align: right;
  font-size: 3em;
  font-weight: bold;
  margin-right: -50px;
}

.color-box {
  border: solid 1px;
  width: 80px;
  height: 80px;
  float: left;
  margin-bottom: 5px;
  clear: both;
}

ul.legend li span {
margin-right: 50px;
text-align: left;
width: 200px;
display: inline-block;
margin-top: 10px;
}

#search {
  width: 50%;
  left: 15%;
  /*float: left;*/
  /*display: inline-block;*/
  position: absolute;
}

#search-input {
  /*margin: auto;*/
  width: 80%;
}

* {
  /*border: solid 3px;*/
}
.search-submit {
  width: 20%;
  float: right;
  background-color: black;
  height: 50px;
  font-size: 2em;
  border: none;
  margin-top: 5px;
  color: grey;
}

.contest-list {
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

#grid {
  border: none;
}

.tabs {
  border: 4px solid black;
  color: black;
  height: 80px !important;
  border-radius: 5px;
  font-size: 1.5em !important;
}

.tab > a {
  color: black !important;
  font-size: 1.5em !important;
}

.tabs .indicator {
  height: 8px !important;
  background-color: black !important;
}

.footer {
  margin-top: 20px !important;
}

.away_num {
  float: left;
  height: 90px;
  width: 60px;
  vertical-align: text-bottom;
  margin-top: 30px;
  font-size: 4em;
  margin-right: 20px;

}


.home_num {
  width: 8.7% !important;
  height: 100px !important;
  display: inline-block;
  position: relative;
  font-size: 2em !important;
  text-align: center;
}

.card {
  display: inline-block;
  margin: 10px !important;
  height: 20%;
  padding: 10px;
  

}

.contest-card {
  display: inline-block;
}

.card-text {
  text-align: center;
}

.login_links {
  width: 500px;
  border: 2px solid;
  margin: auto;
  padding: 20px;
}
.login-link {
  margin: 5px !important;
  background-color: steelblue !important;
  color: black !important;
  font-weight: bold;
  width: 300px;



}
 

 .login-btn {
  width: 300px !important;
  margin: auto !important;
  position: relative;
  left: 4px;
 }
 #new_user > div.login_links > div > span {
  padding-left: 20px;
  bottom: 5px !important;
 }

#google_login {
  
}