.board {
  /*padding-left: 40px;*/
  line-height: 1;
}

/*body {
   background: image-url('stylesheets/checkerbacks.png');

}*/
body {
  background-image: url('light_tones.png');
  /*background-position: cover;*/
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    /*font-size: 1.5em;*/
}
/*@font-face {
  font-family: 'squarey';
  src:url('fonts/squarey.ttf');
  src:url('fonts/squarey.eot?#iefix') format("embedded-opentype"),
}

  @font-face {
  font-family: 'sometimelater';
  src: url('fonts/sometimelater.otf');
  src:url('fonts/sometimelater.eot?#iefix') format("embedded-opentype")
}
@font-face {
  font-family: 'curiousincident';
  src:url('fonts/curiousincident.ttf');
  src:url('fonts/curiousincident.eot?#iefix') format("embedded-opentype")
}
@font-face {
  font-family: 'famrids';
  src:url('fonts/famrids.ttf');
  src:url('fonts/famrids.eot?#iefix') format("embedded-opentype")
}*/

.col {
  border: 1px solid black;
  padding: 20px !important;
  text-align: center;
}

.row {
  margin-top: -20px !important;
}

.home_row {
  margin-top: 20px !important;
}

.square:hover {
  background: red !important;
}

.board_info {
  text-align: center;
}

.away_num, .home_num {
  background: red;
  color: black;
  font-size: 2em;
  /*height: 20px;*/
}

.corner {
  /*background: /*black*/
visibility: hidden;
}

.board_display {
  zoom: 60%;
}

.square {
  background-color: white;
}

.square label {
  /*opacity: 0;*/
}

.enabled {
  background-color: green;
  border: 2px solid white;
}

.disabled {
  border: 2px solid white;
  background-color: black;
}

#display_board {
  display: squarey;
  width: 50%;
  color: white;
  border-radius: 10px;
  margin: auto;
  height: 80px;
  font-size: 2em;
  background-color: red;
}

.claim-btn {
  display: block;
  width: 32%;
  color: black;
  border-radius: 10px;
  border: solid 4px;
  /*margin: 0px 20%;*/
  /*height: 100px;*/
  font-size: 3em;
  font-weight: bold;
  background-color: red;
  text-align: center;
  /*font-family: sq;*/


}

#heading {
  font-family: squarey;
  color: white;
}

.claim_buttons {
  display: flex;
  justify-content: space-between;
}

div.square {
  margin: 2px;
  width: 80px;
  border-radius: 8px;
  top: 10px;
  position: relative;
  height: 60px;



}

.home-away {
  display: flex;
  justify-content: space-between;

}

.home-team, .away-team {
  padding: 5px !important;
  width: 30% !important;
  margin: 40px !important;
}

.vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 30;
  float: left;
  position: absolute;
  left: -90px;
  top: 100%;
  font-size: 8em ;
  height: 250px;
  width: 800px;
  text-align: left;
}

.home-team-row {
  text-align: center;
  font-size: 8em;

}

#num_pool {
  visibility: hidden;
}

td, tr, th {
  border: solid 3px !important;
  text-align: center !important;
  font-size: 1.5em;
}

body {
  color: black !important;
}

.edit-contest {
  float: right;
}

.box_score_item {
  font-size: 1.5em !important;
  text-decoration: none !important;
  text-align: center;
}





