.homebody{
  background-color: black;
}

nav {
  background: black !important;
}

#dropdown1 {
  margin-top: 64px;
}

.footer {
  background: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  list-style-type: none;
  color: white;
}

.contact {
  color: white !important;
}

#search-form {
  padding: 50px;
}

.contestgrid {
  margin: 10px;
  height: 240px;
}

.title-bar {
  margin-left: 10px;
}