<div class='homebody'>
  <div class="cube" id="red">
    <div class="face">PRIZES</div>
    <div class="face"><div class=gift><i class="fa fa-gift" aria-hidden="true"></i></div></div>
  </div>

  <div class="cube" id="green">
    <div class="face">SEARCH</div>
    <div class="face"><div class='search'><i class="fa fa-search" aria-hidden="true"></i></div></div>
  </div>

  <div class="cube" id="blue">
    <div class="face">UPCOMING</div>
    <div class="face"><div class='cal'><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></div></div>
  </div>

  <div class="cube" id="yellow">
    <div class="face">TODAY'S SQUARES</div>
    <div class="face"><div class='sq'><i class="fa fa-plus-square-o" aria-hidden="true"></i></div></div>
  </div>
</div>
