<div class='home'>
  <a href='/prizes'><div class="cube" id="red">
    <div class="face">PRIZES</div>
    <div class="face"><div class=gift><i class="fa fa-gift" aria-hidden="true"></i></div></div>
  </div></a>

  <a href='/contests'><div class="cube" id="blue">
    <div class="face">UPCOMING SQUARES</div>
    <div class="face"><div class='cal'><i class="fa fa-calendar" aria-hidden="true"></i></div></div>
  </div></a>

  <a href='/search'><div class="cube" id="green">
    <div class="face">SEARCH</div>
    <div class="face"><div class='search'><i class="fa fa-search" aria-hidden="true"></i></div></div>
  </div></a>
  
  <a href='/contests'><div class="cube" id="yellow">
    <div class="face">TODAY'S GAMES</div>
    <div class="face"><div class='sq'><i class="fa fa-gamepad" aria-hidden="true"></i></div></div>
  </div>

</div></a>
