<div class='how-to-container'>
  <h2 class='how-to-header'>How To</h2>
  <p>
    For every game, there is a 10 x 10 grid divided into 100 squares. Each user can select one or more squares. Once all the squares have been selected, we will randomly pick numbers from 0-9 for each team and assign a number to a particular row or column. The numbers assigned represent the last number in the score of each team: if the score of a game is Home 21 - Away 14, then the winning square is at the intersection of Home number 1 and Away number 4. No one knows what numbers each square will represent, so good luck and enjoy!
  <p>
</div>
